<h3>Sign In</h3>

<form action="/admin" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username or Email Address" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Login" class="btn">

</form>
<p>Not registered yet?</p>
<button class="btn">
 <a href="/register" class="btn"> Sign up</a>
</button>

<!-- <h3>Register</h3>
<form action="/register" method="POST">

  <label for="first_name"><b>First Name</b></label>
  <input type="text" placeholder="Enter your first name" name="first_name" required>

  <label for="last_name"><b>Last Name</b></label>
  <input type="text" placeholder="Enter your last name" name="last_name" required>

  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="Enter your email address" name="email" required>

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter a unique username" name="username" required>

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" required>

  <input type="submit" value="Signup" class="btn">

</form> -->