<h1>About Bloggo</h1>

<section class="articles">
    <h2 class="articles_heading">
        Project Overview
    </h2>
    <p>
        Bloggo is designed to offer a user-friendly and feature-rich platform for bloggers and readers. Below are some key features and components of this blogging API:
    </p>
    <h2 class="articles_heading">
        Technologies Used
    </h2>

    <p>
        Bloggo leverages several robust technologies to deliver a smooth and reliable experience. Our core dependencies include:
    </p>
    <p>
        • <b>Node.js:</b> The foundation of our backend server. <br/>
        • <b>Express:</b> A powerful framework for building web applications. <br/>
        • <b>MongoDB:</b> A flexible and scalable NoSQL database. <br/>
        • <b>EJS:</b> A versatile template engine for dynamic content rendering. <br/>
        • <b>JSON Web Tokens (JWT):</b> Ensuring secure authentication for our users. <br/>
        • <b>Bcrypt:</b> For hashing and securely storing user passwords. <br/>
        • <b>Other dependencies:</b> Such as express-session, method-override, and more for enhanced functionality.
    </p>

    <h2 class="articles_heading">
        Key Functionality
    </h2>

    <p>
        Bloggo offers a wide range of features to cater to both bloggers and readers, making it a versatile platform for content creators and consumers:
    </p>
    <p>
        User Management
    </p>
    <p>
        • <b>User Profiles:</b> Users can create profiles with their first name, last name, email, and other optional attributes.<br/>
        • <b>Sign Up & Sign In:</b> Seamlessly sign up and log in to the Bloggo app.<br/>
        • <b>JWT Authentication:</b> Secure user authentication with token-based authorization, ensuring your data's safety.<br/>
    </p>
    <p>
        Blog Creation & Management
    </p>
    <p>
        • <b>Drafts & Published Blogs:</b> Create blogs that can be in either draft or published state.<br/>
        • <b>Edit & Delete:</b> Owners of blogs can easily edit and delete their content.<br/>
        • <b>Pagination:</b> Lists of blogs are paginated for easier navigation.<br/>
        • <b>Search & Sorting:</b> Search for blogs by author, title, and tags. Sort by read count, reading time, or timestamp.<br/>
    </p>
    <p>
        Reading & Interaction
    </p>
    <p>
        • <b>Read Count:</b> Keep track of how many readers have viewed your blogs.<br/>
        • <b>Reading Time: </b> An algorithm calculates the estimated reading time for each blog.<br/>
        • <b>User Information: </b>Each blog request includes the author's user information.<br/>
    </p>
    <p>
        Logging & Testing
    </p>
    <p>
        • <b>Logging:</b> Utilizes Winston for extensive logging of functions and processes.<br/>
        • <b>Testing</b> Comprehensive test coverage to ensure reliability.<br/>
    </p>

    <h2 class="articles_heading">
        Get started
    </h2>
    <p>
        Ready to dive into the world of blogging with Bloggo? Get started by signing up or logging in and explore the world of writing and reading. Whether you're a seasoned blogger or just getting started, Bloggo is here to make your journey exciting and convenient.
    </p>
    <p>
        At Bloggo, we believe in the power of words, and we're excited to help you share your thoughts and stories with the world. Start your blogging journey today!
    </p>
    <p>
        Thank you for choosing Bloggo. Happy Blogging!
    </p>
</section>