<h1>Contact Bloggo</h1>

<section class="articles">
    <p>
        Got questions or want to get in touch with us? Feel free to reach out through any of the following channels:
    </p>
    <p>
        <b>Email:</b> godswillutong@gmail.com
    </p>
    <p>
        <b>Social Media Profiles:</b>
    </p>
    <p>
        <b>GitHub:</b> <a href="https://github.com/G-V-Utong">Visit our GitHub</a><br/>
        <b>LinkedIn:</b>  <a href="https://www.linkedin.com/in/godswill-utong-10252915b/">Connect on LinkedIn</a><br/>
        <b>Instagram:</b> <a href="https://www.instagram.com/g.v.utong/">Follow us on Instagram</a><br/>
        <b>Twitter:</b>  <a href="https://twitter.com/G_VestaUtong">Follow us on Twitter</a><br/>
    </p>
    <p>
        We're always here to assist you and answer any questions you may have. Whether it's a technical inquiry or a simple hello, don't hesitate to get in touch with us. We look forward to connecting with you!
    </p>
    <p>
        Thank you for choosing Bloggo, and we appreciate your interest in our platform.
    </p>
</section>